body
{
    margin: 25px;
    background: linear-gradient(to top right, #60ccef 0%, #ff99cc 100%);

}
.tekstSlika
{
    width: 20.2%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(239, 7, 147);
    margin-bottom: 25px;
    margin-left: 60%;
    margin-top: 5%;

}
#tekst1
{
    text-align: center;
    padding: 5px 10px;
    font-style: oblique;
    font-size: 150%;
}
.container
{
    display: flex;
    margin-top: -5%;
    background-color: white;
}
.container .navigationBar
{
    margin-top: 8%;
    margin-left: 30%;
}
.container .slika1
{
    margin-left: 10%;
    overflow: hidden;
    width: 10%;
}
.navigationBar a
{
    text-decoration: none;
    width: 23%;
    padding: 20px;
    color: #da11aa;
}
.slika1
{
    margin-top: 3%;
}
.navigationBar
{
    font-size: 150%;
}
.vtorDel
{

    margin-top: -28%;
    margin-left: 20%;
}
.vtorDel #tekst2
{
    font-size: 300%;
    margin-left: -2%;
}
#tekst3
{
    margin-left: -6%;
    font-size: 150%;
}
.navigationBar a:hover
{
    background: linear-gradient(to top right, #60ccef 0%, #ff99cc 100%);
    color: black;
}
.glavenDel
{
    display: flex;
    margin-top: 15%;
}
.glavenDel p
{
    margin-left: -60%;
    font-size: 150%;
    padding-right: 50%;
    margin-top: 8%;
    text-indent: 30px;
    text-transform: full-size-kana;
}
 .slika3
{
    margin-left: 60%;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(239, 7, 147);
}
.sredenDel
{
    display: flex;
}
.sredenDel p
{
    margin-left: 6%;
    font-size: 150%;
    margin-top: 7%;
    text-indent: 30px;
    text-transform: full-size-kana;
}
.sredenDel .slika4
{
    margin-left: 20%;
    margin-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(239, 7, 147);
}
.zavrsenDel
{
    display: flex;
}
.slika5
{
    margin-left: 60%;
    margin-top: 0.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(239, 7, 147);
}
.zavrsenDel p
{
    margin-left: -60%;
    font-size: 150%;
    padding-right: 50%;
    margin-top: 8%;
    text-indent: 30px;
    text-transform: full-size-kana;
}
span
{
    background-color: #d37cc3;
}
.posledno
{
    display: flex;
}
.slika6
{
    margin-left: 20%;
    margin-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(239, 7, 147);
}
.posledno p
{
    margin-left: 6%;
    font-size: 200%;
    margin-top: 7%;
    color: #037396;
}
.posledno a
{
    font-size: 70%;
}